h1{margin: 0;}
body{background-color: #070707;
}
#COLOR{background-color: #28231C;}
footer{background-color: #513B3C;}
#mapa{padding: 0;}
h1{ color: #C1EEFF;}
h2{color: #C1EEFF;}
h3{color: #C1EEFF;}
span{font-size: 2rem;
color: #C1EEFF;
padding-left: 25px;}
.btn-propio{background-color: #655356;
color: #C1EEFF;}
.btn:hover{background-color: #655356s;}